* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #222;
  position: relative;
  min-height: 100vh;
}

#new-book-btn {
  color: white;
  background-color: magenta;
  border: none;
  border-radius: 25px;
  padding: 20px;
  font-size: 1.5rem;
  display: block;
  font-weight: 700;
  margin-top: 25px;
  cursor: pointer;
}

#new-book-btn:hover {
  background-color: chocolate;
  transition: 1.8s;
  border: 2px solid blue;
  border-radius: 0;
}

.books {
  border: 1px solid black;
}

.hidden {
  visibility: hidden;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 450px;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  top: 20%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  z-index: 2;
}

.field-group {
  display: flex;
  justify-content: space-between;
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.submit-btn {
  display: flex;
  justify-content: center;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.delete-button {
  color: red;
  padding: 0;
}

th,
td {
  padding: 0 2rem;
  text-align: left;
}

.read-status {
  user-select: none;
}
